.container{
  width: 500px;
  height: 300px;
  border: 1px solid black;
  overflow: scroll;
  position: relative;

}

.mainwrapper{
 display: flex;
 align-items: center;

}

.nodata{
  position: absolute;
  top: 50%;
  left: 50%;
}

.strike{
  text-decoration: line-through;
}
